//Hamburger menu

.hamburger {
  display: none;
  @media screen and (max-width: 600px) {
    display: inline-block;

    &__toggler {
      display: none;
    }

    &__icon {
      position: relative;

      &,
      &::after,
      &::before {
        display: inline-block;
        width: 45px;
        height: 2.5px;
        background-color: var(--very-dark-blue);
        z-index: 100;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
      }
      &::before {
        top: -1rem;
      }

      &::after {
        top: 1rem;
      }
    }

    &__window {
      background-color: var(--off-white);
      display: none;
      position: absolute;
      left: 170px;
      top: 0;
      width: 65vw;
      z-index: 50;
      a,
      a:active {
        color: var(--very-dark-blue);
      }
      ul {
        margin-top: 16rem;
        margin-right: 12rem;
        height: 100vh;
      }
      @media screen and (max-width: 400px) {
        position: fixed;
        ul {
          // margin-top: 12rem;
          padding-bottom: 2rem;
          margin-right: 12rem;
          height: 100vh;
        }
      }
    }
    &__toggler:checked ~ &__window {
      display: inline-block;
      position: fixed;
    }
    &__toggler:checked + &__button {
      position: fixed;
      z-index: 500;
      right: 45px;
    }
    // &__toggler:checked .grid {
    //   display: none;
    // }

    &__toggler:checked + &__button &__icon {
      background-color: transparent;
      &::before {
        top: 0;
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
        top: 0;
      }
    }

    &__nav {
      display: flex;
      justify-content: start;
      font-size: 3rem;

      a {
        text-decoration: none;
      }
      li {
        list-style-type: none;
        padding: 2rem 3rem;
      }
    }
  }
}

//Button styling
.btn {
  margin-top: 20px;
  padding: 1.4rem 2.5rem;
  font-size: $paragraph;
  color: var(--off-white);
  text-transform: uppercase;
  letter-spacing: 5px;
  border: none;
  background-color: var(--soft-red);
  @media screen and (max-width: 600px) {
    margin-bottom: 15px;
    padding: 2.2rem 3.6rem;
  }
}
.btn:hover {
  background-color: var(--very-dark-blue);
}

//Line in side-bar
.line {
  background-color: var(--dark-grayish-blue);
  height: 1px;
  width: 88%;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  @media screen and (max-width: 900px) {
    margin-top: 1.2rem;
  }
}
